.App {
  max-width: 860px;
  margin: 40px auto;
}
h1 {
  margin-top: 50px;
  letter-spacing: 1.1px;
}
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 2 0px;
}

button:hover {
  background-color: #c23866;
  color: #fff;
  border: none;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card {
  position: relative;
  margin-top: 20px;
}

.card img {
  width: 80%;
}

.card .front {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0sn;
}

.back img {
  width: 500px;
}

p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0px;
}
